body {
    background-color: #ececec;
}
h1,h3,h2 {
    color: #66bfbf;
}
table,ol,h4 {
    color: #385170;
}
hr {
    border-style:none;
    border-top-style: dotted;
    width: 3%;
    border-color: #385170;
    border-width: 3px;
}